span.accent {
    color: grey;
}

div {
    margin-bottom: 12px;
}

div.container table {
    width: 100%;

    table-layout: fixed;
    vertical-align: text-top;
    text-align: left;
    
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;

    overflow: hidden;
}

table#messages tr td {
    vertical-align: top;
    padding: 5px;
    padding-top: 10px;
}
table#messages tr.message_container.is_sequel td {
    padding-top: 0px;
}

table#messages tr td.message_ts {
    width: 4%;
    color: grey;
    font-weight: lighter;
    font-size: 0.9em;

    vertical-align: text-top;
    text-align: center;
}

table#messages tr td.message_user {
    width: 10%;
    
    text-align: right;
    font-weight: bolder;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#messages tr td.message_content {
    width: 88%;
    overflow-wrap: break-word;
}

table#messages tr td.message_content figure {
    margin: 0;
    margin-top: 0.125em;
    /* margin-bottom: 0.05em; */
}

table#messages tr td.message_content figure img {
    max-height: 25em;
    max-width: 75em;
}

table#messages tr td.message_content span.message_editTag {
    font-size: 0.9em;
    padding: 0;
    padding-left: 0.4em;
    color: grey;
    font-weight: lighter;
    vertical-align: text-top;
}

button.collapse_trigger {
    display: block;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
button.collapse_trigger h2 {
    margin: 0px;
    margin-bottom: 12px;
}
button.collapse_trigger h3 {
    margin: 0px;
    margin-bottom: 8px;
}
ul.collapse_content {
    margin: 0px;
    margin-bottom: 5px;
    list-style: square;
}
ol.collapse_content {
    margin: 0px;
    margin-bottom: 5px;
}

div#members {
    display: flex;
    flex-direction: column;
    float: right; 
}
div.user {
    margin: 0px;
    margin-bottom: 5px;
    float: left;
    
    width: 360px;
    height: 72px;
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
div.user:hover {
    overflow: visible;
    height: auto;
}
img.user_picture {
    vertical-align: text-top;
    display: inline;
}
div.user_text {
    margin: 0px;
    margin-left: 5px;
    margin-right: 2px;
}
div.user_text > * {
    margin: 0px;
    margin-bottom: 4px;
}